<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <h1>Sobre</h1>
            <p>Me chamo José Maia, sou estudante de Técnico em Informática, gosto muito dessa área estudando algumas linguagens e principalmente na parte de
                desenvolvimento de jogos e criação de sites
            </p>
        </div>
    </main>

  </body>
</html>