<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <h1>Contato</h1>
            <p>Algumas formas de entrar em contato comigo</p>
            <h2>Email</h2>
            <p>jose.maia13@aluno.ifce.edu.br</p>
            <h2>Celular</h2>
            <p>(--)---------</p>
            <h2>Discord</h2>
            <p>nickname</p>

        </div>
    </main>

  </body>
</html>