<%- include('./partials/header') %>
    <main>
        <div class="ui segment">
            <h1>Portfolio</h1>
            <p>Alguns projetos feitos por mim</p>
            <h2>RPG Top-Down</h2>
            <p>Um jogo em pixel art sendo desenvolvido pela equipe JOLP </p>
            <h2>Metroidvania</h2>
            <p>Inspirado na franquia de jogos Castlevania, um jogo desenvolvido por mim de forma independente</p>
            <h2>Planned Time</h2>
            <p>Um aplicativo de gerenciamento de tarefas para estudantes, desenvolvido no Apple Academy por mim e mais três colegas</p>
            <h2>Wiki do Dragonborn</h2>
            <p>Um site em formato de wiki para a franquia de jogos The Elder Scrolls, feito por mim</p>

        </div>
    </main>

  </body>
</html>