<%- include('./partials/header') %>
<div style="height: 100px; width: 100%;">
    <img src="../images/componentes/Fundo-Skyrim-WH.jpg" class="rounded w-100 h-100 z-n1 position-absolute" alt="...">
</div>

<div class="container mt-5 bg-dark text-light p-4 rounded">
  <h2>Criar Conta</h2>
  <form action="/cadastro" method="POST">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha:</label>
      <input type="password" class="form-control" id="senha" name="senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>

<%- include('./partials/footer') %>
