body {
    padding-bottom: 60px;
    background-color: #151218;
}

#wrapper {
    width: 1600px;
}

#header{
    color: #fff;
    font-size: 32px;
    padding-bottom: 25px;
}

#main {
    position: absolute;
    width: 900px;
    left: 360px;
    margin-right: 50px;
    color: #fff;
    background-color: #26272f;
}

#margintext {
    margin: 5px;
}
#extras1 {
    position: absolute;
    width: 200px;
    left: 25px;
    margin-right: 25px; 
    color: #fff;
    background-color: #26272f;

}
#extras2 {
    position: absolute;
    width: 200px;
    left: 1400px;
    margin-right: 25px; 
    color: #fff;
    background-color: #26272f;

}
#footer {
    position: fixed;
    width: 1800px;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: #161616;
    text-align: center;
}