body {

    padding-bottom: 60%;
    background-color: #151218;
}

#header{
    color: #fff;
    font-size: 32px;
    padding-bottom: 1%;
}

#main {
    float: left;
    width: 45%;
    margin-right: 5%;
    color: #fff;
    background-color: #26272f;
}

#margintext {
    margin: 1%;
}
#extras1 {
    float: left;
    width: 22.5%;
    margin-right: 2.5%; 
    color: #fff;
    background-color: #26272f;

}
#extras2 {
    float: left;
    width: 22.5%;
    margin-right: 2.5%;
    color: #fff;
    background-color: #26272f;

}
#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: #161616;
    text-align: center;
}